{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": "airbnb",
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
      "no-param-reassign": "off",
      "object-curly-newline": "off",
      "consistent-return": "off",
      "no-return-assign": "off"
    }
}
